# Import Libraries

In [1]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
%matplotlib inline

# Load and Preprocessing of the Dataset
### Format the data according to the following guidelines:
* Last column of the dataset should be the label and should also be named 'label'
* There should be no missing values in the dataset

In [2]:
def read_dataset(path):
    dataset = pd.read_csv(path)
    return dataset

In [3]:
def give_name_columns(dataset):
    dataset.columns = ['Class-Name', 'handicapped-infants', 'water-project-cost-sharing',
                  'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                  'mx-missile', 'immigration', 'synfuels-corporation-cutback',
                  'education-spending', 'superfund-right-to-sue', 'crime',
                  'duty-free-exports', 'export-administration-act-south-africa']
    return dataset

In [4]:
def rearrange_columns(dataset):
    dataset = dataset[['handicapped-infants', 'water-project-cost-sharing',
                  'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                  'mx-missile', 'immigration', 'synfuels-corporation-cutback',
                  'education-spending', 'superfund-right-to-sue', 'crime',
                  'duty-free-exports', 'export-administration-act-south-africa', 'Class-Name']]
    return dataset

In [5]:
def rename_label_column(dataset):
    dataset = dataset.rename(columns={"Class-Name": "label"})
    return dataset

In [6]:
def dealing_with_unknowns(dataset):
    npData = dataset.values
    for i in range(17):
        unique_classes, counts_unique_classes = np.unique(npData[:, i], return_counts=True)
        max_index = counts_unique_classes.argmax()
        arr = npData[:, i]
        for j in range(len(arr)):
            if arr[j] == '?':
                arr[j] = unique_classes[max_index]

    dataset = pd.DataFrame(npData, columns = ['handicapped-infants', 'water-project-cost-sharing',
                      'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
                      'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                      'mx-missile', 'immigration', 'synfuels-corporation-cutback',
                      'education-spending', 'superfund-right-to-sue', 'crime',
                      'duty-free-exports', 'export-administration-act-south-africa', 'Class-Name'])
    return dataset

In [7]:
def categorical_to_continuous(dataset):
    dictionary = {"n": 0, "y": 1}
    for column in dataset.loc[:, dataset.columns != 'label']:
        dataset[column] = dataset[column].map(dictionary)
    return dataset

In [8]:
dataset = read_dataset('house-votes-84.data.txt')
dataset = give_name_columns(dataset)
dataset = rearrange_columns(dataset)
dataset = rename_label_column(dataset)
dataset = dealing_with_unknowns(dataset)
dataset = rename_label_column(dataset)
dataset = categorical_to_continuous(dataset)

In [9]:
dataset.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,label
0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1,republican
1,0,1,1,0,1,1,0,0,0,0,1,0,1,1,0,0,democrat
2,0,1,1,0,1,1,0,0,0,0,1,0,1,0,0,1,democrat
3,1,1,1,0,1,1,0,0,0,0,1,0,1,1,1,1,democrat
4,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1,democrat

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   handicapped-infants                     434 non-null    int64
 1   water-project-cost-sharing              434 non-null    int64
 2   adoption-of-the-budget-resolution       434 non-null    int64
 3   physician-fee-freeze                    434 non-null    int64
 4   el-salvador-aid                         434 non-null    int64
 5   religious-groups-in-schools             434 non-null    int64
 6   anti-satellite-test-ban                 434 non-null    int64
 7   aid-to-nicaraguan-contras               434 non-null    int64
 8   mx-missile                              434 non-null    int64
 9   immigration                             434 non-null    int64
 10  synfuels-corporation-cutback            434 non-null    int64
 11  education-spending                      434 non-null    int64
 12  superfund-right-to-sue                  434 non-null    int64
 13  crime                                   434 non-null    int64
 14  duty-free-exports                       434 non-null    int64
 15  export-administration-act-south-africa  434 non-null    int64
 16  label                                   434 non-null    object
dtypes: int64(16), object(1)
memory usage: 57.8+ KB

# Train, Test and Split Dataset

In [11]:
def trainTestSplit(dataset, testSize):
   
    # check if testSize is float or not that means if testsize is proportion or percentage we will
    # round it to be a number of rows
    if isinstance(testSize, float):
        testSize = round(testSize * len(dataset))
    
    # we will take the dataset indices and convert it into a python list using data.index().tolist()
    #then take this list and take testSize random numbers and extract from the dataset to the be the testdata
    # and the rest is the train data
    indices = dataset.index.tolist()
    testIndices = random.sample(population=indices, k=testSize)
    
    test_data = dataset.loc[testIndices]
    train_data = dataset.drop(testIndices)
        
    
    return train_data, test_data

In [12]:
random.seed(0)
train_data, test_data = trainTestSplit(dataset, testSize=0.2)

In [13]:
test_data.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,label
432,0,0,0,1,1,1,1,1,1,1,0,1,1,1,0,1,republican
197,0,0,1,0,0,0,1,1,1,1,1,0,1,0,1,1,democrat
388,1,0,1,0,0,0,1,1,1,1,1,0,0,0,1,1,democrat
215,1,1,1,0,1,1,0,0,1,1,0,0,0,1,1,1,democrat
20,1,1,1,0,0,0,1,1,1,0,0,0,1,1,1,1,democrat

# Utility Functions

In [14]:
npData = train_data.values
npData[:5]

array([[0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 'democrat'],
       [0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 'democrat'],
       [1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 'democrat'],
       [0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 'democrat'],
       [0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 'democrat']],
      dtype=object)

### Data Purity Fucntion

In [15]:
# if a subset contains one class or if it contains several classes

def check_purity(data):
    label_column = data[:, -1]
    unique_classes = np.unique(label_column)
    
    if(len(unique_classes) == 1):
        return True
    else:
        return False

### Classify Function

In [16]:
def classify_data(data):
    label_column = data[:, -1]
    
    # it returns the unique values of the label column and the 
    # frequency of each one
    unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)
    
    index = counts_unique_classes.argmax()
    classification = unique_classes[index]
    return classification

### Potential Splits Function

In [17]:
def get_potential_splits(data):
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(n_columns - 1): # to to exclude the label column
        potential_splits[column_index] = []
        values = data[:, column_index]
        unique_values = np.unique(values)

        for index in range(len(unique_values)):
            if index != 0:
                current_value = unique_values[index]
                previous_value = unique_values[index - 1]
                potential_split = (current_value + previous_value) / 2
                potential_splits[column_index].append((potential_split))
            
    return potential_splits

In [18]:
potential_splits = get_potential_splits(train_data.values)

### Split Data Function

In [19]:
def split_data(data, column, value):
    split_column_values = data[:, column]
    data_left = data[split_column_values <= value]
    data_right = data[split_column_values > value]
    
    return data_left, data_right

### Entropy Function

In [20]:
def entropy(data):
    label_column = data[:, -1]
    _, unique_classes_count = np.unique(label_column, return_counts=True)
    probabilities = unique_classes_count / unique_classes_count.sum()
    entropy = sum(probabilities * -np.log2(probabilities))
    return entropy

### Overall Entropy

In [21]:
def overall_entropy(data_left, data_right):
    n = len(data_left) + len(data_right)
    p_data_left = len(data_left) / n
    p_data_right = len(data_right) / n
    overall_entropy = ((p_data_left * entropy(data_left)) + (p_data_right * entropy(data_right)))
    return overall_entropy

In [22]:
def find_best_split(data, potential_splits):
    best_entropy = 100000
    best_column = 0
    best_value = 0
    for column in potential_splits:
        for value in potential_splits[column]:
            data_left, data_right = split_data(data, column, value)
            current_overall_entropy = overall_entropy(data_left, data_right)
            
            if current_overall_entropy <= best_entropy:
                best_entropy = current_overall_entropy
                best_column = column
                best_value = value
                
    return best_column, best_value

In [23]:
find_best_split(npData, potential_splits)

(3, 0.5)

# Main Decision Tree Algorithm (recursive algorithm)

## Decision Tree Representation:

In [24]:
sub_tree = {"question": ["yes_answer", "no_answer"]}

## Decision Tree Algorithm:

In [25]:
def build_decision_tree(dataset, counter=0, min_sample_size=2, max_tree_depth=5):
    if counter == 0:
        global COLUMN_NAMES
        COLUMN_NAMES = dataset.columns
        data = dataset.values
    else:
        data = dataset
        
    # Base Case
    if ((check_purity(data)) or (len(data) < min_sample_size) or (counter == max_tree_depth)):
        result = classify_data(data)
        return result
    # recursion case
    else:
        counter += 1
        
        #using the utility function
        potential_splits = get_potential_splits(data)
        column, value = find_best_split(data, potential_splits)
        data_left, data_right = split_data(data, column, value)
        
        #Define subTree
        feature_name = COLUMN_NAMES[column]
        inquiry = "{} <= {}".format(feature_name, value)
        decision_sub_tree = {inquiry: []}
        
        #recursion (to find the answer to the question)
        yes = build_decision_tree(data_left, counter,min_sample_size, max_tree_depth)
        no = build_decision_tree(data_right, counter,min_sample_size, max_tree_depth)
        
        if yes == no:
            decision_sub_tree = yes
        else:
            decision_sub_tree[inquiry].append(yes)
            decision_sub_tree[inquiry].append(no)
        
        
        return decision_sub_tree

In [26]:
tree = build_decision_tree(train_data, max_tree_depth=3)
pprint(tree)

{'physician-fee-freeze <= 0.5': ['democrat',
                                 {'synfuels-corporation-cutback <= 0.5': ['republican',
                                                                          {'adoption-of-the-budget-resolution <= 0.5': ['republican',
                                                                                                                        'democrat']}]}]}

In [27]:
test_example = test_data.iloc[15]
test_example

handicapped-infants                              1
water-project-cost-sharing                       0
adoption-of-the-budget-resolution                1
physician-fee-freeze                             0
el-salvador-aid                                  0
religious-groups-in-schools                      0
anti-satellite-test-ban                          1
aid-to-nicaraguan-contras                        1
mx-missile                                       1
immigration                                      0
synfuels-corporation-cutback                     0
education-spending                               0
superfund-right-to-sue                           0
crime                                            0
duty-free-exports                                0
export-administration-act-south-africa           1
label                                     democrat
Name: 258, dtype: object

In [28]:
def predict(test_example, decision_tree):
    inquiry = list(decision_tree.keys())[0]
    column_name, operator, value = inquiry.split()
    
    #traverse te decision inquiry by  inquiry
    if test_example[column_name] <= float(value):
        result = decision_tree[inquiry][0]
    else:
        result = decision_tree[inquiry][1]
        
    #for this recursive approach our base case will be
    if not isinstance(result, dict):
        return result
    else: #recursive case
        remaining_decision_tree = result
        return predict(test_example, remaining_decision_tree)

In [29]:
predict(test_example, tree)

'democrat'

In [30]:
def accuracy(test_dataset, decision_tree):
    test_dataset["prediction"] = test_dataset.apply(predict, axis=1, args=(decision_tree,))
    test_dataset["prediction_comparison"] = test_dataset["prediction"] == test_dataset["label"]
    
    result = test_dataset["prediction_comparison"].mean()
    
    return result

In [31]:
accuracy(test_data, tree)

0.9655172413793104

In [32]:
test_data.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,label,prediction,prediction_comparison
432,0,0,0,1,1,1,1,1,1,1,0,1,1,1,0,1,republican,republican,True
197,0,0,1,0,0,0,1,1,1,1,1,0,1,0,1,1,democrat,democrat,True
388,1,0,1,0,0,0,1,1,1,1,1,0,0,0,1,1,democrat,democrat,True
215,1,1,1,0,1,1,0,0,1,1,0,0,0,1,1,1,democrat,democrat,True
20,1,1,1,0,0,0,1,1,1,0,0,0,1,1,1,1,democrat,democrat,True